<!doctype html>
<html class="x-admin-sm">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>答题页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index">JAVA Online Judge</a></div>

    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a th:text="${session.userName}" href="javascript:;"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="./login.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">注销</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-navspec">
    <div style="margin: 10px;text-space: 10px">
        <h2 style="margin-left: 20px" th:text="${session.problemTitle}"></h2>
        <hr class="hr15">
        <p style="margin-left: 20px;font-size: 16px;text-space: 10px" th:text="${session.problemContent}"></p>
    </div>

</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->

<div class="page-contentspec">

    <form class="layui-form" method="post" action="/problem/userInput" >
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea placeholder="请输入答案" class="layui-textarea" name="userInput"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-left: 65%">提交答案</button>
            <button type="button" class="layui-btn layui-btn-primary" style="margin-left: 10px">重置所有</button>

        </div>

    </form>

    <fieldset class="layui-elem-field" style="margin: 30px;height: 100px;width: 90%">
        <legend>上传文件</legend>
        <div class="layui-field-box ">
            <form class="layui-form" action="/problem" method="post" enctype="multipart/form-data">
                <input class="layui-btn-primary" type="file" name="testUpload" style="width:60%;float: left"/>
                <input class="layui-btn" type="submit" style="width:150px;margin-left: 60px">
            </form>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field" style="margin: 30px;height: 150px;width: 90%">
        <legend>运行结果</legend>
        <div style="margin: 15px">
            <p th:text="${session.result}"></p>
        </div>

    </fieldset>
</div>


</div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">2019 JAVA Online Judge</div>
</div>
<!-- 底部结束 -->
</body>
</html>
